body {
    font-family: sans-serif;
    margin: 0 50px;
}

.container {
    display: flex;
    gap: 50px;
}

#notes {
    width: 400px;
}

#notes div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options {
    display: flex;
    gap: 25px;
}

i {
    cursor: pointer;
}

#msg {
    color: red;
}